@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport{ width: device-width; scale: 1; }
@viewport{ width: device-width; scale: 1; }


html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}


.banner {
    background-color:#C3D1CA;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-size: 100px 100px;
    position: relative;
}

.info {
    font-family: "Slabo 27px", serif;
    text-align: center;
    margin-bottom: 0;
}


.skills {
    letter-spacing: 2px;
    margin-bottom: 0.2em;
}

.name {
    letter-spacing: 2px;
    margin-top: 1em;
    margin-bottom: 0em;
}

.me {
    z-index: 3;
    display: block;
    position: relative; 
}

.flowers {
    z-index: 3;
    display: block;
    position: relative;
}

    
.skills {
    text-transform: uppercase;
}

.socialcontainer {
    margin: -1.5em auto;
    text-align: center;
    max-width: 450px;
    margin-bottom: 0.2em;
}


.fade {
	margin:0;
}
.fade {
-webket-transition: all 0.5s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}



/********Media Queries********/


@media only screen and (min-width: 25em) {
    .me {
        width: 80%;
        position: absolute;
        float: inherit;
        margin-left: 2em;
        margin-top: -5em;
    }
    
    .flowers {
        width: 120%;
        position: absolute;
        float: inherit;
        margin-left: -2em;
    }
    
      .bizcard {
        padding-top: 10em;
        margin-top: 4em;
        margin-bottom: 4em;
        display: block;
        position: relative;
    }
    
    .name {
        font-size: 24px;
    }
    
    .skills {
        font-size: 20px;
        letter-spacing: -0.5px;
    }
    
    .location {
        font-size: 18px;
    }
}

@media only screen and (min-width: 38em) {
    .me {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-top: -18em;
        margin-left: 8em;
        margin-bottom: ;
    }
    
    .flowers {
        width: 70%;
        position: absolute;
        float: inherit;
        margin-top: 0;
        margin-left: 6em;
    }
        
    .bizcard {
        background-image: url(../images/backboard.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        min-height: 33em;
        padding-top: 5em;
        margin-top: 4em;
        margin-bottom: 4em;
        display: block;
        position: relative;
    }
    
    .name {
        font-size: 24px;
    }
    
    .skills {
        font-size: 20px;
    }
    

}

@media only screen and (min-width: 60em) {
  .me {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-left: 11em;
        margin-top: -13em;
    }
    
    .flowers {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-left: 11em;
        margin-top: -0.5em;
    }
    
      .bizcard {
        background-image: url(../images/backboard.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        min-height: 33em;
        padding-top: 8em;
        margin-top: 4em;
        margin-bottom: 4em;
        display: block;
        position: relative;
    }
    
    .name {
        font-size: 32px;
    }
    
    .skills {
        font-size: 28px;
        letter-spacing: 3px; 
    }
    
    .location {
        font-size: 24px;
    }
 

}

@media only screen and (min-width: 90em) {
    .me {
        width: 50%;
        position: absolute;
        float: inherit;
        margin-top: -12em;
        margin-bottom: auto;
        margin-left: 19em;
        margin-right: auto;
    }
    
    .flowers {
        width: 45%;
        position: absolute;
        float: inherit;
        margin-top: -1em;
        margin-bottom: auto;
        margin-left: 21em;
        margin-right: auto;
    }
    
    .bizcard {
        background-image: url(../images/backboard.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        min-height: 33em;
        padding-top: 8em;
        margin-top: 4em;
        margin-bottom: 4em;
        display: block;
        position: relative;
    }
 
        
}

