@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport{ width: device-width; scale: 1; }
@viewport{ width: device-width; scale: 1; }


html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}


.banner {
    background-color:#C2E4D3;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-size: 100px 100px;
    position: relative;
}

.bizcard {
    padding-top: 8em;
    background-image: url(../images/backboard.png);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 33em;
    margin: -14em auto 0;
    display: block;
    position: relative;
}

.info {
    font-family: "Slabo 27px", serif;
    text-align: center;
    margin-bottom: 0;
}


.skills {
    letter-spacing: 2px;
    margin-bottom: 0.2em;
}

.name {
    letter-spacing: 2px;
    margin-bottom: 0;
}

.me {
    z-index: 3;
    margin: -12em auto;
    display: block;
    position: relative; 
}

.flowers {
    z-index: 3;
    margin: 0 auto;
    display: block;
    position: relative;
}

    
.skills {
    text-transform: uppercase;
}

.socialcontainer {
    margin: -1em auto;
    text-align: center;
    max-width: 450px;
}


.fade {
	margin:0;
}
.fade {
-webket-transition: all 0.5s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}

